---
- name: Convert expression to kubernetes objects
  dhall_to_json:
    expression: "{{ expression }}"
  register: _dhall_output

- name: Apply objects
  k8s:
    state: "{{ state }}"
    namespace: "{{ namespace }}"
    definition: "{{ item }}"
    apply: yes
  loop: "{{ _dhall_output.result['items'] }}"
